/*helpers*/
.header, header, footer {
  min-height: 200px;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #76c7c0; }

.container {
  min-width: 960px;
  margin: 0 auto; }

.btn, .btn-med {
  display: inline-block;
  height: 32px;
  min-height: 32px;
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  background-color: #76c7c0; }
  .btn:hover, .btn-med:hover, .btn:active, .btn-med:active {
    background-color: #68c1b9; }

.btn-med {
  height: 48px;
  min-height: 48px;
  padding: 0 25px; }

header {
  margin-bottom: 20px; }

.site-header {
  width: 100%;
  height: 300px; }
  .site-header__logo {
    float: left;
    margin: 10px 0 0; }
  .site-header__menu {
    position: absolute; }
    .site-header__menu--item {
      float: left; }

footer {
  margin-top: 40px; }
