/* BASE */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #7f8c8c;
	font: 12px 'Open Sans', Arial, sans-serif;
}

body {
	color: #7f8c8c;
	font: 12px 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
}

/* GRID */
.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.is-relative {
	position: relative;
}

.row:before, .row:after {
	content:"";
	display: table ;
	clear:both;
}

.my-row {
	margin-bottom: 40px;
}

.my-small-row {
	margin-bottom: 15px;
}

[class*='my-cell-'] {
	float: left;
	margin-right: 30px;
}

[class*='my-cell-']:last-of-type {
	margin-right: 0;
}

.my-cell-1 {
	width: 130px;
}

.my-cell-2 {
	width: 270px;
}

.my-cell-3 {
	width: 370px;
}

.my-cell-4 {
	width: 570px;
}

.my-cell-5 {
	width: 870px;
}

.my-cell-6 {
	width: 1170px;
}

.my-container {
	margin: 0 auto;
	width: 1170px;
}

/* HEADER */
.top-header {
	background: #76c7c0 url('../img/ruler_btm.png') repeat-x 0 bottom;
	height: 80px;
}

.site-logo {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	line-height: 80px;
}

.site-logo strong {
	font-size: 30px;
	font-weight: 800;
}

.top-nav {
	padding-top: 20px;
}

.top-nav li {
	float: left;
	margin-right: 15px;
}

.top-nav li:last-child {
	margin-right: 0;
}

.top-nav a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 4px;
}

.top-nav a:hover {
	background: #62a29e;
	border-bottom: 3px solid #528b86;

}

/* ICONS */

[class*='icn-'] {
	display: inline-block;
	background: url('../img/sprite_1.png') no-repeat 0 0;
}


/* SLIDER Compont */

.img-slider {
	margin-bottom: 15px;
}

.img-slider-placeholder {
	border-radius: 4px;
	background: #f8f8f8 url(../img/slider-img-placeholder.png) no-repeat center center;
	color: #b0b8b8;
	font-size: 25px;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}

.img-slider-placeholder [class*='img-slider-'] {
	background: #e8645a url(../img/sprite_1.png) no-repeat center 21px;
	width: 50px;
	height: 60px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.5);
}

.img-slider-placeholder .img-slider-next {
	right: 0;
	transform: rotate(180deg);
	margin-top: -30px;
	box-shadow: 0px -2px 0px 0px rgba(50, 50, 50, 0.5);
}

.img-slider-placeholder figcaption {
	position: absolute;
	bottom: 12%;
	left: 0;
	width: 100%;
	text-align: center;
}

.img-slider.is-big .img-slider-placeholder {
	height: 700px;
	text-transform: uppercase;
}

.img-slider.is-med .img-slider-placeholder {
	height: 560px;
}

.img-slider.is-small .img-slider-placeholder {
	height: 200px;
	font-size: 16px;
	background-size: 25%;
}

.img-slider.is-small [class*='img-slider-']:not(.img-slider-placeholder) {
	background-position: center -56px;
}

.img-slider-nav {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.img-slider-nav li {
	display: inline-block;
	width: 60px;
	height: 5px;
	margin-right: 10px;
	background-color: #b0b8b9;
}

.img-slider-nav li.current {
	background-color: #e2534b;
}

.img-slider-nav li:last-child {
	margin-right: 0;
}

.img-slider.is-small .img-slider-nav li {
	width: 40px;
}


/*Tabs*/

.temp-tabs {
	margin: 2rem auto;
	width: 50rem;
}

[class*='inp-tab-'] {
	position: absolute;left: -99999px;
}

.tab-content {
	display: none;
}

[class*='inp-tab-']:checked + .tab-content {
	display: block;
}

.css-tabs-lbl {
	display: block;
	float: left;
	border: 1px solid #eee;
	padding: 6px 14px;
	margin-right: -1px;
}

.css-tabs-lbl:hover {
	background-color: #eee;
	cursor: pointer;
}

.tab-content {
	border: 1px solid #eee;
	margin-top: -1px;
	padding: 10px;
}

form[name="profile"] {
	padding: 30px;
	margin: 0 auto;
	width: 400px;
}

.form-field {
	padding: 5px;
	width: 100%;
	border: 1px solid #ccc;
}

.form-field:focus {
	border-color: blue;
	outline: none;
}

.error-message {
	color: #c00;
	font-size: .9em;
	margin-top: 5px;
	font-style: italic;
}

button[type="submit"] {
	margin-top: 10px;
	padding: 10px 30px;
	background: #ccc;
	border-radius: 4px;
	border: none;
}


.hide {
	display: none;
}










