$bg-color: #eee;
$main-text-color: #333;
$main-primary-color: #76c7c0;
$header-color: #fff;
$main-btn-color: #76c7c0;

$main-font: 'Arial, sans-serif';
$main-font-size: .9rem;

$img-folder: '../img/';

$h1-font-size: 1.6rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1.1rem;

$min-width: 960px;

